<div class="logo">
  <!-- 简化语法，避免解析歧义 -->
  <img src="{{site.logo | asset}}" alt="资源站 Logo" class="logo-img">
  <h1>资源站</h1>
  <button class="sidebar-toggle">
    <i class="toggle-icon">→</i>
  </button>
</div>

<!-- 其他导航内容保持不变 -->
<div class="sidebar-content custom-scrollbar">
  {{#each navigation}}
    {{#if this.separator}}
      <div class="nav-separator"></div>
    {{else}}
      <div class="nav-item-wrapper {{#if this.expanded}}expanded{{/if}}">
        <a href="{{this.url}}" class="nav-item {{#if this.active}}active{{/if}}" {{#if this.external}}target="_blank"{{/if}}>
          <span class="icon-container">
            <i class="{{this.icon}}"></i>
          </span>
          <span class="nav-text">{{this.label}}</span>
          {{#if this.external}}
            <i class="external-icon">↗</i>
          {{/if}}
          {{#if this.children}}
            <i class="submenu-toggle">▼</i>
          {{/if}}
        </a>
        {{#if this.children}}
          <div class="submenu">
            {{#each this.children}}
              <a href="{{this.url}}" class="submenu-item {{#if this.active}}active{{/if}}" {{#if this.external}}target="_blank"{{/if}}>
                <i class="{{this.icon}}"></i>
                <span>{{this.label}}</span>
              </a>
            {{/each}}
          </div>
        {{/if}}
      </div>
    {{/if}}
  {{/each}}
</div>

<div class="copyright">
  © {{currentYear}} <a href="{{site.url}}">{{site.title}}</a>
</div>
